.vscode/settings.json
.gitignore
__pycache__/display.cpython-310.pyc
__pycache__/generate.cpython-310.pyc
__pycache__/globals.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/solve.cpython-310.pyc
